#registrati {
  background-image: url('https://images.unsplash.com/photo-1600891964599-f61ba0e24092?auto=format&fit=crop&w=1470&q=80');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

#registrati .registrati-container {
  backdrop-filter: blur(10px);
  padding: 40px 30px;
  border-radius: 15px;
  max-width: 800px;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.8);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
  color: black;
  font-size: 15px;
  text-align: center;
}

button.regi {
  width: 100%;
  padding: 12px;
  background-color: #27ae60 !important;
  border: none !important;
  border-radius: 15px !important;
  color: white !important;
  font-size: 18px !important;
  cursor: pointer !important;
  transition: background-color 0.3s ease !important;
  margin-top: -30px ;
}

button.regi:hover {
  background-color: #1e8e50 !important;
}

#registrati .registrati-container input[type="checkbox"] {
  width: auto;
  margin-right: 8px;
}
