
/********** generici ************/

.margine {
 margin: 80px auto;
}

button {
    border-radius: 50px!important;
    padding: 7px 20px!important;
}

a.button {
    text-decoration: none;
    color:FFF;
}




/************ assistenza **********/

#assistenza .accordion button {
    border-radius: 0px!important;
}

#assistenza .fascia_colorata {
 width: 100%;
 height: auto;
 padding: 80px;
 background-color: rgb(230, 244, 255);
 text-align: center;
}

#assistenza .sfondo_form {
 width: 100%;
 height: auto;
 background-image: url(../img/svuotafrigo.jpg);
 background-position: center;
 background-size: cover;
 padding: 40px;
}

#assistenza .form {
 width: 100%;
 height: auto;
 max-width: 700px;
 padding: 40px;
 background-color: rgba(255,255,255,0.8);
 backdrop-filter: blur(10px);
 border-radius: 40px;
 margin: 40px auto;
}

#assistenza .fascia_link {
 width: 100%;
 height: auto;
 padding: 40px;
 background-color: rgb(2, 31, 53);
 color: #FFF;
}