
/********** generici ************/

.margine {
 margin: 80px auto;
}

button {
    border-radius: 50px!important;
    padding: 7px 20px!important;
}

a.button {
    text-decoration: none;
    color:FFF;
}



/********** navbar ************/

.navbar {
    background-color: rgb(2, 53, 22);
}

.navbar a {
    color: #FFF;
}

.navbar a:hover,
.navbar a:active {
    color: #e6e088;
}

/************ assistenza **********/

#assistenza .accordion button {
    border-radius: 0px!important;
}

#assistenza .sfondo_form {
 width: 100%;
 height: auto;
 background-image: url(../img/svuotafrigo.jpg);
 background-position: center;
 background-size: cover;
 padding: 40px;
}

#assistenza .form {
 width: 100%;
 height: auto;
 max-width: 700px;
 padding: 40px;
 background-color: rgba(255,255,255,0.8);
 backdrop-filter: blur(10px);
 border-radius: 40px;
 margin: 40px auto;
}

.fascia_colorata {
 width: 100%;
 height: auto;
 padding: 80px;
 background-color: #101010;
 text-align: center;
}

.fascia_colorata h3,
.fascia_colorata p {
    color: #FFF;
}

.fascia_link {
 width: 100%;
 height: auto;
 padding: 40px;
 background-color: rgb(2, 53, 22);
 color: #FFF;
}

.fascia_link h5 {
 text-transform: uppercase;
 font-weight: 400;
}

.fascia_link a {
 color: #e6e088;
 font-weight: 300;
 text-decoration: none;
}

/************ footer **********/

footer {
 width: 100%;
 height: auto;
 background-image: url(../img/footer.jpg);
 background-position: 50% 40%;
 background-size: cover;
 padding: 40px;
}

footer .contenitore {
    max-width: 600px;
    margin: 0 auto;
}

footer h4,
footer h5 {
 text-transform: uppercase;
 font-weight: 400;
 color: #FFF;
}

footer a {
 color: #e6e088;
 font-weight: 300;
 text-decoration: none;
}